.App {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.AppContents {
  text-align: center;
  border: 1px solid black;
  width: 70%;
}

.AppButtons {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
